# Игнорировать виртуальное окружение
venv/
.env/

# Игнорировать кэш Python
__pycache__/
*.py[cod]

# Игнорировать файлы IDE
.idea/
.vscode/

# Игнорировать логи и временные файлы
*.log
*.tmp

# Игнорировать установленные зависимости (если есть requirements.txt)
*/site-packages/